<h1>Listing all articles</h1>
<table>
  <thead>
    <tr>
    <th>Id</th>
      <th>Title</th>
    <th>UserId</th>
      <th>Body</th>
      <th>Word_Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
<% @articles.each do |article| %>
    <tr>
    <td><%= article.id %></td>
        <td><%= link_to article.title ,article_path(article.id)%></td>
        
        <td><%= link_to article.user.name ,user_path(article.user.id) if article.user %></td>

        <td><%= article.description %></td>
        <td><%= article.word_count %></td>
        <td><%= link_to 'delete' , article ,method: :delete, data: { confirm: 'Are you sure?' }%></td>
        <td><%= link_to 'edit' , edit_article_path(article)%></td>
        
    </tr>
<%end%>
<%= link_to 'Create' , new_article_path%>
</tbody>

</table>

<br>
