<h1>Welcome To Rails</h1>

<%=link_to 'Posts', posts_path %><br>
<%=link_to 'Articles', articles_path %><br>
<%=link_to 'Users', users_path %><br>
<%=link_to 'Categories', categories_path %><br>
<%=link_to 'Article-Categories', article_categories_path %><br>

<%=link_to 'Index1', welcome1_index1_path %>
<% v = 'test'%>
<%=v.upcase%>
<%=Time.now%>